.intro__img {
  box-shadow: var(--bs);
}

@media(min-width: 600px) {
  .intro {
    display: grid;
    width: min-content;
    margin: 0 auto;
    column-gap: 1em;
    grid-template-areas:
      "title img"
      "subtittle img";
    grid-template-columns: min-content max-content;
  }


  .intro__img {
    grid-area: img;
    min-width: 250px;
    position: relative;
    z-index: 2;

  }
  section{
    max-width: 100vw;
  }

}